<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mantra - Article</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="font/awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section id="body">
    <aside id="sidebar">
        <header id="headline">
            <h1><a href="#"><i class="fa fa-superpowers" aria-hidden="true"></i> Project Mantra</a></h1>
            <h3>Feel mantra on your project</h3>
            <div class="status">
                <label>Happy</label>
                <label>&nbsp; | &nbsp;</label>
                <a href="#">Logout</a>
            </div>
        </header>
        <nav id="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Feature</a>
                    <ul class="submenu">
                        <li><a href="article.html">Article</a></li>
                        <li><a href="component.html">Component</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </aside>
    <section id="content">
        <article>
            <h3>Introduction to Mantra</h3>
            <div class="article-info">
                Posted on <time datetime="2013-05-14">10 July</time>
            </div>

            <h5>What is Lorem Ipsum?</h5>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text.
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
                and going through the cites of the word in classical literature, discovered the undoubtable source.
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on
                the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <img src="image/quantic.jpg">
            <blockquote>
                Mauris sit amet tortor in urna tincidunt aliquam. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas
            </blockquote>
            <p>This template has been tested in:</p>
            <ul>
                <li>Firefox</li>
                <li>Opera</li>
                <li>IE</li>
                <li>Safari</li>
                <li>Chrome</li>
            </ul>
        </article>
        <footer>
            <p>Copyright 2016 <a href="#">Happy Indra Wijaya</a></p>
        </footer>
    </section>
</section>
</body>
</html>