<!DOCTYPE html>
<html>
<head>
    <title>PTPI</title>

    <!-- meta. -->
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="{{ url_for('static', filename='css/styles.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='font/awesome/css/font-awesome.css') }}"
          rel="stylesheet" type="text/css"/>

    <!-- angularjs -->
    <script src="{{ url_for('static', filename='js/lib/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/angular-resource.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</head>


<body ng-app="baseApp">
<section id="body">
    <aside id="sidebar" ng-controller="menuController" data-ng-init="init()">
        <header id="headline">
            <h1><a href="#"><i class="fa fa-superpowers" aria-hidden="true"></i> Project PTPI</a></h1>
            <h3>Entry your ticket</h3>
            <div class="status">
                <label id="status-user">Unknown</label>
                <label>&nbsp; | &nbsp;</label>
                <a id="status-log" href="#" ng-click="logout()">Login</a>
            </div>
        </header>
        <nav id="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu/company">Company</a></li>
                <li><a href="/menu/customer">Customer</a></li>
            </ul>
        </nav>
    </aside>
    <section id="content">
        <article>

            {% block content %}{% endblock %}


        </article>
        <footer>
            <p>Copyright 2017 </p><p>Powered by Mantra</p>
        </footer>
    </section>
</section>
<script>
            angular.module('componentApp', ['ngWig', 'colorpicker.module']).controller('wigController', ['$http', '$scope',
                function ($http, $scope) {

                    var ctrl = this;
                    this.$onInit = function() {
                        ctrl.instructions = '';
                        ctrl.placeholder = 'placeholder';

                    }

                    $scope.show = function() {
                        alert($scope.isi);
                    }


                }]
            );

</script>
</body>
</html>